<tr style="color:white; background-color: <% if question.складне? %> red <%elsif question.просте?%> green <%else%> grey <%end%>">
  <td><%= question.name %></td>
  <td><%= question.recomend%></td>
  <td><%= question.answers.size%></td>
  <td><%= question.correct_answers%></td>
</tr>
