<div class="container">
  <h1 class="text-center mt-5 my-3">Профіль користувача</h1>

  <% if current_user.is_admin%>
    <div class="test-card">
      <div class="add_test row justify-content-center align-tems-center">
        <div class="col-12 mt-4">
          <h2 class="test-title text-center">Добавити тест за допомогою таблиці</h2>
        </div>
        <div class="col-12 text-center">
          <%= form_tag import_file_path, method: :post, multipart: true do %>
            <%= file_field_tag :file %>
            <div class="mt-4">
              <%= submit_tag "Імпортувати", class: "btn btn-home" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%end%>
</div>
