@import "navbar";
@import "footer";
@import "header";
@import "section";
@import "test";
@import "add_test";

p{
  font-size: $text;
  font-weight: 400;
}

.section-title{
  font-size: $head;
  font-weight: 500;
  text-align: center;
}

@media (max-width:767px) {
  .section-title{
    font-size: $second-head;
  }
}
