<div class="container">
  <section class="test">
    <h2 class="text-center mt-5 my-3">Важливість обліку знань:</h2>
    <p>Обліку належить головна роль у процесі адаптації та задоволенні потреб, спрямованих на інтенсивність виникнення попиту щодо надання своєчасної, об'єктивної та достовірної інформації зовнішнім та внутрішнім підприємцям про працівників.</p>
    <p>Відповідно, завжди існуватиме постійна потреба  в молодих кваліфікованих фахівцях зі знаннями сучасних інформаційних технологій, які матимуть бажання і невпинну рішучість упроваджувати нові методи та форми. Тому так важливо постійно вести облік знань працівників.</p>
  </section>
  <img src="/image.jpg" alt="image">
</div>
