.btn-test{
  @include transition();
  @include radius();
  border:1px solid rgba($first-color, .55);
  font-size: $text;
  &::first-letter{
    text-transform: uppercase;
  }
  &:hover{
    border-color: $second-color;
    background-color: $second-color;
    color: white;
  }
}

.btn-home{
  @include transition();
  @include radius();
  border:1px solid rgba($first-color, .55);
  background-color: $first-color;
  color: white;
  font-size: $text;
  font-weight: bold;
  &::first-letter{
    text-transform: uppercase;
  }
  &:hover{
    border-color: $second-color;
    background-color: $second-color;
    color: white;
  }
}
