@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600;0,700;0,900;1,300;1,400;1,500;0,600;1,700;1,900&display=swap');

//Color
$first-color: #18181A;
$second-color: #FF8000;

$accent-color: #31D457;
$bg: #6d6875;

$wtext: #fff;
$btext: #18181A;

//Font size
$head: 2.25rem;
$second-head: 1.625rem;
$big-text: 1.5625rem;
$text: 1rem;
$sm-text: 0.8rem;

//Font family
$font: 'Montserrat', sans-serif;
