Саме тестування
Має бути можливість переходу між тестами (щоб зберігати проміжні результати)
помітка зрлених та ні
А також тест з вибором однієї чи декількох правильних

<h3>
  Виберіть правильну відповідь
</h3>
<h2>
  <%= @question.name%>
</h2>
<% @question.variants.each do |variant| %>
  <%= variant.name%>
<%end%>
