<footer>
  <div class="container">
    <div class="footer_content d-flex align-items-center justify-content-center">
      <div class="text-center w-100">
        <small>2021, Всі права захищені</small>
      </div>

    </div>
  </div>
</footer>
