<footer>
  <div class="container">
    <div class="footer_content d-flex align-items-center justify-content-center">
      <div class="text-center w-100">
        <%= link_to root_path, class:"navbar-brand wht" do%>СОЗ(<small>система обліку знань</small>)<%end%>
        <hr>
        <small>2021, Всі права захищені</small>
      </div>

    </div>
  </div>
</footer>
